<%- include('./common/header') %>
<main>
<section style="background-color:#000;background-image: url(https://xpressrow.com/html/cafena/cafena/assets/images/bg/testimonial-bg-2.jpeg);background-repeat: `no-repeat ;">
<div class="container">
    <div class="row">
        <div class="col-xl-12">
            <h2 class="rp-title mt-90 text-center pb-0" style="color:#fff;font-weight: 400;">
                Bridge
            </h2>
            <h3 class="text-center mb-10 " style="font-weight: 400;color:#fff">Swap your BSC tokens to Breeze</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12">
            <div class="contact__form mt-10">
                <form action="index.html" method="get">
                    <div class="row" style="display:flex;justify-content:center;">
                        <div class="col-md-4 mt-30">
                            <div class="form-group">
                                <input type="number" name="amount" id="amount" placeholder="Enter Amount :">
                            </div>
                        </div>
                        <div class="col-md-4 mt-30">
                            <div class="form-group">
                                <input type="text" name="address" id="address" placeholder="Your Breeze Address :">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-xl-12 mt-50 mb-130 text-center">
            <button type="submit" class="site-btn">SWAP</button>
        </div>
    </div>
</div>
</section>
<section class="wcu__area pb-120 pt-80" style="background: #fff;">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 text-center">
                <div class="section-heading section-heading__black mb-60">
                    <h2 style="font-weight:400">An Open Source Social Media</h2>
                </div>
            </div>
        </div>
        <div class="row mt-none-30">
            <div class="col-md-6 mt-30 text-center">
                <div class="wcu__item">
                    <div class="icon">
                        <img src="https://xpressrow.com/html/cafena/cafena/assets/images/icons/wcu-1.png" alt="">
                    </div>
                    <div class="content">
                        <h2 style="font-weight:400">Breeze Foundation</h2>
                        <p>Become witness on Breeze chain to ensure open source blockchain</p>
                        <a href="about.html" class="site-btn mt-20">breeze.foundation</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mt-30 text-center">
                <div class="wcu__item">
                    <div class="icon">
                        <img src="https://xpressrow.com/html/cafena/cafena/assets/images/icons/wcu-2.png" alt="">
                    </div>
                    <div class="content">
                        <h2 style="font-weight:400">BeSocial</h2>
                        <p>Become part of an open source social media and share-to-earn</p>
                        <a href="about.html" class="site-btn mt-20">besocial.ai</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</main>
<%- include('./common/footer') %>