<%- include('./common/header') %>
    <main>
        <!-- breadcrumb area start -->

        <section class="breadcrumb-area pt-40 pb-40 bg_img" data-background="https://xpressrow.com/html/cafena/cafena/assets/images/bg/breadcrumb-bg-1.jpeg" data-overlay="dark" data-opacity="5">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 text-center">
                        <h2 class="page-title" style="font-weight:300;color: #C7A17A;">TOKMAX BNB LP POOL</h2>
                        <div class="cafena-breadcrumb breadcrumbs">
                            <ul class="list-unstyled d-flex align-items-center justify-content-center">
                                <li class="cafenabcrumb-item duxinbcrumb-begin">
                                    <a href="#"><span style="color: #C7A17A;">STAKE TOKMAX_BNB LP TOKENS TO EARN TOKMAX TOKENS</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- breadcrumb area end -->


<section class="wcu__area pb-50 pt-80" style="background: #eceae3;">
    <div class="container">
        <div class="row mt-none-30">
            <div class="col-md-6 mt-20 text-center">
                <div class="wcu__item farm_item">
                    <div class="icon" style="margin-bottom:15px">
                        <img src="https://xpressrow.com/html/cafena/cafena/assets/images/icons/wcu-1.png" alt="">
                    </div>
                    <div class="content">
                        <h2 style="font-weight:400">LP Staking</h2>
                        <h3 class="user_stk" style="font-weight:400;color: #967f72;">0</h3>
                        <h5 style="font-weight:400">My Staked LP Tokens</h5>
                        <button class="site-btn mt-10 app_btn">Approve TOK/BNB LP</button>
                        <div class="stk_sec mt-10" style="display: none;">
                            <button class="site-btn stk_btn" disabled>STAKE</button>
                            <button class="site-btn unstk_btn" disabled>UNSTAKE</button>
                        </div>
                        <h5 style="font-weight:400;padding-top: 6px;letter-spacing: 0.5px;"><i class="fas fa-arrow-right" style="font-size:16px;padding-right:10px;"></i>VIEW on BSC Scan</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mt-20 text-center">
                <div class="wcu__item farm_item">
                    <div class="icon" style="margin-bottom:15px">
                        <img src="https://xpressrow.com/html/cafena/cafena/assets/images/icons/wcu-3.png" alt="">
                    </div>
                    <div class="content">
                        <h2 style="font-weight:400">Rewards</h2>
                        <h3 class="user_earnings" style="font-weight:400;color: #967f72;">0</h3>
                        <h5 style="font-weight:400;">Tokens Earned</h5>
                        <a class="site-btn mt-10 wid_db_btn" disabled>Withdraw</a>
                        <div class="wid_sec mt-10" style="display:flex;display: none;">
                            <button class="site-btn wid_btn" disabled>WITHDRAW</button>
                            <button class="site-btn ext_btn" disabled>EXIT</button>
                        </div>
                        <h5 style="font-weight:400;padding-top: 6px;letter-spacing: 0.5px;"><i class="fas fa-arrow-right" style="font-size:16px;padding-right:10px;"></i>Trade on Pancakeswap</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="feature_section" class="feature_section pt-20 pb-80">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-4 col-sm-6 wow fadeInUp2" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp2;">
                <div class="features_item box_stat farm_box">
                    <div class="item_icon">
                        <img src="https://xpressrow.com/html/cafena/cafena/assets/images/icons/f-icon-3.png" alt="icon_not_found">
                    </div>
                    <h2 class="mb-2 tot_staked">0</h2>
                    <h3 class="item_title mb-0">Total Staked</h3>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 wow fadeInUp2" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp2;">
                <div class="features_item box_stat farm_box">
                    <div class="item_icon">
                        <img src="https://xpressrow.com/html/cafena/cafena/assets/images/icons/f-icon-1.png" alt="icon_not_found">
                    </div>
                    <h2 class="mb-2 myShare">0</h2>
                    <h3 class="item_title mb-0">My Share</h3>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 wow fadeInUp2" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp2;">
                <div class="features_item box_stat farm_box">
                    <div class="item_icon">
                        <img src="https://xpressrow.com/html/cafena/cafena/assets/images/icons/f-icon-4.png" alt="icon_not_found">
                    </div>
                    <h2 class="mb-2 pol_supply">0</h2>
                    <h3 class="item_title mb-0">Pool Supply</h3>
                </div>
            </div>
        </div>
    </div>
</section>
</main>

<div class="modal fade" id="stake_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal_me_top" role="document"><div class="modal-content modal-custom modal_me_custom"><div class="modal-body thirty_pad">
        <div class="transfer-respond">
            <h4 class="modal_me_title ab_font">STAKE DLIKE/TRX LP Tokens</h4>
            <label class="six_hun"><span class="user_lp_bal">0</span> DLK-TRX LP Available</label>
            <div class="row line mt-20"><div class="col-md-12"><div class="form-group">
                <div class="input-group mb-3"><input type="text" class="form-control" name="stk_amt" id="stk_amt" placeholder="Enter Amount to Stake"><div class="input-group-append"><div class="input-group-text mb-deck modal_deck"> DLIKE/TRX LP</div></div>
                <input type="hidden" id="refer_by" value="<?php echo $referrer;?>" />
            </div> </div></div></div>
            <center><button type="submit" class="btn btn_primary stk_mod_btn">STAKE</button></center>
        </div>
     </div></div></div>
</div>

<div class="modal fade" id="unstake_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal_me_top" role="document"><div class="modal-content modal-custom modal_me_custom"><div class="modal-body thirty_pad">
        <div class="transfer-respond">
            <h4 class="modal_me_title ab_font">UNSTAKE DLIKE/TRX LP Tokens</h4>
            <label class="six_hun"><span class="user_stk_bal">0</span> DLK-TRX LP Staked</label>
            <div class="row line mt-20"><div class="col-md-12"><div class="form-group">
                <div class="input-group mb-3"><input type="text" class="form-control" name="unstk_amt" id="unstk_amt" placeholder="Enter Amount to UNStake"><div class="input-group-append"><div class="input-group-text mb-deck modal_deck"> DLIKE/TRX LP</div></div>
            </div> </div></div></div>
            <center><button type="submit" class="btn btn_primary unstk_mod_btn">UNSTAKE</button></center>
        </div>
     </div></div></div>
</div>



<%- include('./common/footer') %>
<script type="text/javascript">
$(document).ready(async function() {
        function init(){
            window.lpContractInstance = new window.myweb3.eth.Contract(window.lp_ABI, window.lp_contract_address, {
                    from: window.myAccountAddress, // default from address
            });
            window.tokmasbnbPoolContractInstance = new window.myweb3.eth.Contract(window.tokmasbnbPool_ABI, window.tokmasbnbPool_contract_address, {
                from: window.myAccountAddress, // default from address
            });            
        }
        
        setTimeout(init,2000);  
       async function checkApproved(){            
            var allowance = await window.lpContractInstance.methods.allowance(window.myAccountAddress,window.tokmasbnbPool_contract_address).call();
            if(allowance>0){ 
                if(allowance>0){$(".app_btn").css("display","none").prop('disabled', true);$(".stk_sec").show();$(".stk_btn").prop('disabled', false);$(".unstk_btn").prop('disabled', false);}else{$(".app_btn").show().prop('disabled', false);$(".stk_sec").hide();$(".stk_btn").prop('disabled', true);$(".unstk_btn").prop('disabled', true);$("#stake_modal").modal("hide");$("#unstake_modal").modal("hide");}
            }
        }
        async function checkBalance(){            
            var user_lp_balance = await window.lpContractInstance.methods.balanceOf(window.myAccountAddress).call();
            console.log('this is user lp tokens balance')
            console.log(user_lp_balance)
            user_lp_balance = user_lp_balance / 1e18
            console.log(user_lp_balance)
            if(user_lp_balance>0){
                $('.user_lp_bal').html(user_lp_balance);
            }
        }
        
        $('#btnApproveLP').click(async function(){
            window.maxApproveLimit = await window.lpContractInstance.methods.totalSupply().call();
            
            var result = await window.lpContractInstance.methods.approve(window.tokmasbnbPool_contract_address,window.maxApproveLimit).send({
                from: window.myAccountAddress,
                to: window.lp_contract_address,
                gasPrice: 10000000000,
                gasLimit: 1000000,
                //value : 0,       
            });
            
            if(result.status){
                toastr.success('Transaction Initiated. Check status on <a href="'+window.bscscanTxURL+result.transactionHash+'" target="_blank">BscScan</a>');
            }else{
                toastr.error('Transaction Failed. Try Again.');
            }
        });

     
        async function checkStaked(){
            var staked = await window.tokmasbnbPoolContractInstance.methods.balanceOf(window.myAccountAddress).call();
            if(staked>0){
                $('#btnStakeLP').prop('disabled', true); 
                $('#btnUnstakeLP').prop('disabled', false); 
                $('.user_stk').html(staked/1e18);
                var reward = await window.tokmasbnbPoolContractInstance.methods.earned(window.myAccountAddress).call(); 
                if(reward>0){
                    $('.user_earnings').html(reward/1e6);
                    $('#btnWithdrawLP2').hide();
                    $('.wid_sec').show();
                    $('#btnWithdrawLP').prop('disabled', false); 
                    $('#btnExitLP').prop('disabled', false); 
                }                              
            }
        }

        setInterval(async ()=>{

            if(window.myAccountAddress!=false){
                var user_stake =await window.tokmasbnbPoolContractInstance.methods.balanceOf(window.myAccountAddress).call();
                console.log('this is user lp stake')
                console.log(user_stake)
                user_stake = user_stake / 1e18;
                console.log(user_stake)
                //user_stake = parseFloat(user_stake / 1e6).toFixed(4);
                var user_earn = await window.tokmasbnbPoolContractInstance.methods.earned(window.myAccountAddress).call(); 
                user_earn = user_earn / 1e6; //user_earn = parseFloat(user_earn / 1e6).toFixed(4);
                var totalSupply = await window.tokmasbnbPoolContractInstance.methods.totalSupply().call();
                totalSupply = parseFloat(totalSupply / 1e18);
                var myShare = parseFloat((user_stake/totalSupply)*100);
                myShare = myShare.toFixed(2)
                var polSupply = await window.tokmasbnbPoolContractInstance.methods.polSupply().call();
                $('.tot_staked').html((totalSupply).toFixed(10));
                $('.pol_supply').html(polSupply/1e6);
                $('.myShare').html(myShare+'%');
                $('.user_stk').html(user_stake);
                $('.user_stk_bal').html(user_stake);
                $('.user_earnings').html(user_earn);
                console.log(user_stake);
                console.log(user_earn);
               
                checkApproved();
                checkBalance();
                checkStaked();
    
                if(user_earn>0){$(".wid_db_btn").css("display","none");$(".wid_sec").show();$(".wid_btn").prop('disabled', false);$(".ext_btn").prop('disabled', false);}else{$(".wid_db_btn").show();$(".wid_sec").hide();$(".wid_btn").prop('disabled', true);$(".ext_btn").prop('disabled', true);}
    
            }else{console.log('Metamask not login!')}
        
        }, 3000)
       
        $('.stk_btn').click(async function() {$("#stake_modal").appendTo("body").modal("show");}); 
        $('.stk_mod_btn').click(async function() {
            let stk_amt = $('#stk_amt').val();let lp_bal = $('.user_lp_bal').html();let tok="TRX";
            console.log(stk_amt);console.log(lp_bal);
            if(!$.trim(stk_amt).length){toastr.error('Not a valid amount');return false;}
            if(parseFloat(stk_amt)<=0){toastr.error('Not a valid amount');return false;}
            if(parseFloat(stk_amt)>parseFloat(lp_bal)){toastr.error('Not enough LP token balance');return false;}
           
            let stk_amt_val = stk_amt * 1e6;
            var result = await window.tokmasbnbPoolContractInstance.methods.stake(stk_amt_val).send({
                from: window.myAccountAddress,
                to: window.tokmasbnbPool_contract_address,
                gasPrice: 10000000000,
                gasLimit: 1000000,
                //value : 0,       
            });
        
            if(result.status){
                $("#stake_modal").modal("hide");
                toastr.success('Transaction Initiated. Check status on <a href="'+window.bscscanTxURL+result.transactionHash+'" target="_blank">BscScan</a>');
                //checkStaked();
            }else{
                toastr.error('Transaction Failed. Try Again.');
            }
        
        });

        $('.unstk_btn').click(async function() {$("#unstake_modal").appendTo("body").modal("show");});   
        $('.unstk_mod_btn').click(async function() {
            let unstk_amt = $('#unstk_amt').val(); console.log(unstk_amt);let user_stk_bal = $('.user_stk_bal').html();console.log('user stake is');console.log(user_stk_bal);
            if(!$.trim(unstk_amt).length){toastr.error('Not a valid amount');return false;}
            if(parseFloat(unstk_amt)<=0){toastr.error('Not a valid amount');return false;}
            if(parseFloat(unstk_amt)>parseFloat(user_stk_bal)){toastr.error('Not enough LP tokens staked');return false;}
            let unstk_amt_val = unstk_amt * 1e6;    
            var result = await window.tokmasbnbPoolContractInstance.methods.withdraw(unstk_amt_val).send({
                from: window.myAccountAddress,
                to: window.tokmasbnbPool_contract_address,
                gasPrice: 10000000000,
                gasLimit: 1000000,
                //value : 0,       
            });
        
            if(result.status){
                $("#unstake_modal").modal("hide");
                toastr.success('Transaction Initiated. Check status on <a href="'+window.bscscanTxURL+result.transactionHash+'" target="_blank">BscScan</a>');
            }else{
                toastr.error('Transaction Failed. Try Again.');
            }
        });

        $('.wid_btn').click(async function() {
            var result = await window.tokmasbnbPoolContractInstance.methods.getReward().send({
                from: window.myAccountAddress,
                to: window.tokmasbnbPool_contract_address,
                gasPrice: 10000000000,
                gasLimit: 1000000,
                //value : 0,       
            });
        
            if(result.status){
                toastr.success('Transaction Initiated. Check status on <a href="'+window.bscscanTxURL+result.transactionHash+'" target="_blank">BscScan</a>');
            }else{
                toastr.error('Transaction Failed. Try Again.');
            }
        });

        $('.ext_btn').click(async function() {
                
            var result = await window.tokmasbnbPoolContractInstance.methods.exit().send({
                from: window.myAccountAddress,
                to: window.tokmasbnbPool_contract_address,
                gasPrice: 10000000000,
                gasLimit: 1000000,
                //value : 0,       
            });

           if(result.status){
               toastr.success('Transaction Initiated. Check status on <a href="'+window.bscscanTxURL+result.transactionHash+'" target="_blank">BscScan</a>');
           }else{
               toastr.error('Transaction Failed. Try Again.');
           }
            
       });
        
});
</script>