<%- include('./common/header') %>


      <!-- main body - start
      ================================================== -->
      <main>

        <!-- banner_section - start
        ================================================== -->
        <section id="banner_section" class="banner_section" style="min-height: 92vh;">
          <div class="container">
            <div class="row align-items-center flex-row-reverse justify-content-lg-between">
              <div class="col-lg-5 col-md-6">
                <div class="banner_image text-center wow fadeInUp2" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp2;">
                  <img src="https://dokfi.herokuapp.com/images/main_tac.png" alt="image_not_found">
                </div>
              </div>
              <div class="col-lg-7 col-md-6">
                <div class="banner_content">
                  <h1 class="text-uppercase wow fadeInUp2" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp2;"><strong>TOKMAX</strong> Yield Farming Made <span>Simple</span></h1>
                  <ul class="banner_btns ul_li wow fadeInUp2" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp2;">
                    <li><a class="btn btn_border border_secondary text-uppercase scrollspy-btn" href="#home_section">Trade Now</a></li>
                    <li><a class="btn btn_primary text-uppercase" href="#!">How It Works</a></li>
                  </ul>

                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- banner_section - end
        ================================================== -->

        <!-- feature_section - start
        ================================================== -->
        <section id="feature_section" class="feature_section sec_ptb_120 pb-0" style="padding-top:10px; padding-bottom: 100px !important;">
          <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-4 col-sm-6 wow fadeInUp2" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp2;">
                    <div class="features_item" style="background-color: #010103;">
                        <div class="item_icon">
                            <img src="demo_assets/images/features/icon_01.png" alt="icon_not_found">
                        </div>
                        <h3 class="item_title mb-0">Clean &amp; Frish Design</h3>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6 wow fadeInUp2" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp2;">
                    <div class="features_item" style="background-color: #010103;">
                        <div class="item_icon">
                            <img src="demo_assets/images/features/icon_02.png" alt="icon_not_found">
                        </div>
                        <h3 class="item_title mb-0">Bootstrap</h3>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6 wow fadeInUp2" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp2;">
                    <div class="features_item" style="background-color: #010103;">
                        <div class="item_icon">
                            <img src="demo_assets/images/features/icon_11.png" alt="icon_not_found">
                        </div>
                        <h3 class="item_title mb-0">Fast loading</h3>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6 wow fadeInUp2" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp2;">
                    <div class="features_item" style="background-color: #010103;">
                        <div class="item_icon">
                            <img src="demo_assets/images/features/icon_09.png" alt="icon_not_found">
                        </div>
                        <h3 class="item_title mb-0">Transition Effects</h3>
                    </div>
                </div>
            </div>
        </section>
        <!-- feature_section - end 
        ================================================== -->




        <div class="best-coffe__area position-relative mb-90 mt-30">
            <div class="best-coffe__bg" style="background-color:#111;">
                <img src="https://xpressrow.com/html/cafena/cafena/assets/images/bg/best-coffe-1.jpeg" alt="" style="height: 100%;opacity: 0.3;">
            </div>
            <div class="container">
                <div class="row justify-content-end">
                    <div class="col-xl-8 pl-35">
                        <div class="best-coffe__wrapper">
                            <div class="section-heading section-heading__black">
                                <h2 class="title mb-25" style="font-weight:400;font-size:38px">Brew your coffee on besocial for free</h2>
                                <div style='font-family: "Jost", sans-serif;'>
                                    <p>You can earn tokmax tokens on besocial for free. Just be a part of open source social media, share-to-earn.</p>
                                    <p>Every second of life counts, why waste it. Just tip to other community members and earn rewards for yourself.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

      </main>

<%- include('./common/footer') %>