                  <ul class="demo_counter ul_li text-uppercase text-center wow fadeInUp2" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp2;">
                    <li>
                      <span>17<sup>+</sup></span>
                      <small>Total Pages</small>
                    </li>
                    <li>
                      <span>03<sup>+</sup></span>
                      <small>Home Pages</small>
                    </li>
                    <li>
                      <span>14<sup>+</sup></span>
                      <small>Inner Pages</small>
                    </li>
                  </ul>










                        <header class="header_section">
        <div class="container maxw_1560">
            <div class="row align-items-center">

              <div class="col-lg-2 col-6">
                <div class="brand_logo">
                  <a class="brand_link" href="index.html">
                    <img src="cafena/assets/images/logo/logo-black.png" alt="logo_not_found">
                  </a>
                </div>
              </div>

              <div class="col-lg-7 col-6">
                <nav class="main_menu navbar navbar-expand-lg">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_menu_dropdown" aria-controls="main_menu_dropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"><i class="far fa-bars"></i></span>
                    </button>
                  <div class="main_menu_inner collapse navbar-collapse" id="main_menu_dropdown">
                    <ul class="main_menu_list ul_li_center">
                      <li><a class="nav-link scrollspy-btn" href="#banner_section">Trade</a></li>
                      <li><a class="nav-link scrollspy-btn" href="#home_section">Farm</a></li>
                      <li><a class="nav-link scrollspy-btn" href="#widget_section">Stake</a></li>
                      <li><a class="nav-link scrollspy-btn" href="#innerpages_section">Bridge</a></li>
                      <li><a class="nav-link scrollspy-btn" href="#shop_section">Info</a></li>
                    </ul>
                  </div>
                </nav>

                <div class="col-lg-3">
                  <div class="purches_btn">
                      <a class="btn btn_primary text-uppercase float-end" href="#!">Connect</a>
                  </div>
                </div>


              </div>

              

            </div>
        </div>
      </header>


              <section class="breadcrumb-area pt-140 pb-140 bg_img" data-background="https://xpressrow.com/html/cafena/cafena/assets/images/bg/breadcrumb-bg-1.jpeg" data-overlay="dark" data-opacity="5" style="background-image: url(&quot;https://xpressrow.com/html/cafena/cafena/assets/images/bg/breadcrumb-bg-1.jpeg&quot;);">
            <div class="shape shape__1"><img src="assets/images/shape/breadcrumb-shape-1.png" alt=""></div>
            <div class="shape shape__2"><img src="assets/images/shape/breadcrumb-shape-2.png" alt=""></div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 text-center">
                        <h2 class="page-title">Cafena Product</h2>
                        <div class="cafena-breadcrumb breadcrumbs">
                            <ul class="list-unstyled d-flex align-items-center justify-content-center">
                                <li class="cafenabcrumb-item duxinbcrumb-begin">
                                    <a href="index.html"><span>Home</span></a>
                                </li>
                                <li class="cafenabcrumb-item duxinbcrumb-end">
                                    <span>Product</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>