<%- include('./common/header') %>
    <main>
        <section class="breadcrumb-area pt-40 pb-40 bg_img"
            data-background="https://xpressrow.com/html/cafena/cafena/assets/images/bg/breadcrumb-bg-1.jpeg"
            data-overlay="dark" data-opacity="5">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 text-center">
                        <h2 class="page-title" style="font-weight:300;color: #C7A17A;">TOKMAX STAKING POOL</h2>
                        <div class="cafena-breadcrumb breadcrumbs">
                            <ul class="list-unstyled d-flex align-items-center justify-content-center">
                                <li class="cafenabcrumb-item duxinbcrumb-begin">
                                    <a href="#"><span style="color: #C7A17A;">STAKE TOKMAX TOKENS TO EARN
                                            MORE</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="about_section sec_ptb_120 pb-100">
            <div class="container">
                <div class="row align-items-center justify-content-lg-between">

                    <div class="col-lg-6 col-md-6">
                        <div class="about_content">
                            <h3 class="big_title wow fadeInUp" data-wow-delay=".2s"
                                style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                                <h2 class="mt-20" style="font-weight:400; text-decoration: underline;">Stake Tokmas
                                    Tokens</h2>
                            </h3>
                        </div>
                        <p class="wow fadeInUp pt-10 pb-10" data-wow-delay=".3s"
                            style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;color: #6c6c6c;font-size: 16px;font-family:'Jost', sans-serif;">
                            Maximize your earnings by staking TokMax tokens. 20% of daily reward pool from breeze chain
                            is dedicated to staking rewards.
                        </p>

                        <div class="row justify-content-center">
                            <div class="col-md-6 col-sm-6 wow fadeInUp2" data-wow-delay=".1s"
                                style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp2;">
                                <div class="features_item box_stat stk_box">
                                    <div class="item_icon">
                                        <img src="https://xpressrow.com/html/cafena/cafena/assets/images/icons/f-icon-4.png"
                                            alt="icon_not_found">
                                    </div>
                                    <h2 class="mb-2 pol_supply">0</h2>
                                    <h3 class="item_title mb-0">Pool Supply</h3>
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-6 wow fadeInUp2" data-wow-delay=".2s"
                                style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp2;">
                                <div class="features_item box_stat stk_box">
                                    <div class="item_icon">
                                        <img src="https://xpressrow.com/html/cafena/cafena/assets/images/icons/f-icon-1.png"
                                            alt="icon_not_found">
                                    </div>
                                    <h2 class="mb-2 myShare">0</h2>
                                    <h3 class="item_title mb-0">My Share</h3>
                                </div>
                            </div>

                            <div class="col-md-12 col-sm-12 wow fadeInUp2 mt-10" data-wow-delay=".3s"
                                style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp2;">
                                <div class="features_item box_stat stk_box">
                                    <div class="item_icon">
                                        <img src="https://xpressrow.com/html/cafena/cafena/assets/images/icons/f-icon-3.png"
                                            alt="icon_not_found">
                                    </div>
                                    <h2 class="mb-2 tot_staked">0</h2>
                                    <h3 class="item_title mb-0">Total Staked</h3>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="row twn-btns">
                                    <div class="col-lg-6 mt-20">
                                        <a href="https://justswap.org/#/home?tokenAddress=TMw4Er1ZVMm6Z4QnE4fqU6xzT4G43HapWb&amp;type=swap"
                                            target="_blank" class="site-btn"
                                            style="letter-spacing: 0.2px !important;">VIEW
                                            ON BSC SCAN</a>
                                    </div>
                                    <div class="col-lg-6 mt-20">
                                        <a href="https://justswap.org/#/home?tokenAddress=TMw4Er1ZVMm6Z4QnE4fqU6xzT4G43HapWb&amp;type=swap"
                                            target="_blank" class="site-btn"
                                            style="letter-spacing: 0.2px !important;">TRADE
                                            ON PENCAKESWAP</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-5 col-md-6 col-sm-6">
                        <div class="col-md-12 mt-20 text-center">
                            <div class="wcu__item stk_item">
                                <div class="icon" style="margin-bottom:15px">
                                    <img src="https://xpressrow.com/html/cafena/cafena/assets/images/icons/wcu-1.png"
                                        alt="">
                                </div>
                                <div class="content">
                                    <h2 style="font-weight:400">LP Staking</h2>
                                    <h3 class="user_stk_staking" style="font-weight:400;color: #967f72;">0</h3>
                                    <h5 style="font-weight:400">My Staked LP Tokens</h5>
                                    <button class="site-btn mt-10 app_btn">Approve TOK/BNB LP</button>
                                    <div class="stk_sec_token mt-10" style="display: none;">
                                        <button class="site-btn stk_btn" disabled>STAKE</button>
                                        <button class="site-btn unstk_btn" disabled>UNSTAKE</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 mt-20 text-center">
                            <div class="wcu__item stk_item">
                                <div class="icon" style="margin-bottom:15px">
                                    <img src="https://img.icons8.com/ios/70/000000/coffee-beans-.png" alt="">
                                </div>
                                <div class="content">
                                    <h2 style="font-weight:400">Rewards</h2>
                                    <h3 class="user_earnings" style="font-weight:400;color: #967f72;">0</h3>
                                    <h5 style="font-weight:400;">Tokens Earned</h5>
                                    <a class="site-btn mt-10 wid_db_btn" disabled>Withdraw</a>
                                    <div class="wid_sec mt-10" style="display:flex;display: none;">
                                        <button class="site-btn wid_btn" disabled>WITHDRAW</button>
                                        <button class="site-btn ext_btn" disabled>EXIT</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <div class="modal fade" id="stake_modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal_me_top" role="document">
            <div class="modal-content modal-custom modal_me_custom">
                <div class="modal-body thirty_pad">
                    <div class="transfer-respond">
                        <h4 class="modal_me_title ab_font">STAKE DLIKE/TRX LP Tokens</h4>
                        <label class="six_hun"><span class="user_lp_bal">0</span> DLK-TRX LP Available</label>
                        <div class="row line mt-20">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="input-group mb-3"><input type="text" class="form-control" name="stk_amt"
                                            id="stk_amt" placeholder="Enter Amount to Stake">
                                        <div class="input-group-append">
                                            <div class="input-group-text mb-deck modal_deck"> DLIKE/TRX LP</div>
                                        </div>
                                        <input type="hidden" id="refer_by" value="<?php echo $referrer;?>" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <center><button type="submit" class="btn btn_primary stk_mod_btn">STAKE</button></center>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="unstake_modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal_me_top" role="document">
            <div class="modal-content modal-custom modal_me_custom">
                <div class="modal-body thirty_pad">
                    <div class="transfer-respond">
                        <h4 class="modal_me_title ab_font">UNSTAKE DLIKE/TRX LP Tokens</h4>
                        <label class="six_hun"><span class="user_stk_bal">0</span> DLK-TRX LP Staked</label>
                        <div class="row line mt-20">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="input-group mb-3"><input type="text" class="form-control"
                                            name="unstk_amt" id="unstk_amt" placeholder="Enter Amount to UNStake">
                                        <div class="input-group-append">
                                            <div class="input-group-text mb-deck modal_deck"> DLIKE/TRX LP</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <center><button type="submit" class="btn btn_primary unstk_mod_btn">UNSTAKE</button></center>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('./common/footer') %>


        <script type="text/javascript">$(document).ready(async function () {
                function init() {
                    tokenContractInstance = new window.myweb3.eth.Contract(window.tokmas_ABI, window.tokmas_contract_address, {
                        from: window.myAccountAddress, // default from address
                    });
                    stakingContractInstance = new window.myweb3.eth.Contract(window.tokmas_staking_ABI, window.tokmas_staking_contract, {
                        from: window.myAccountAddress, // default from address
                    });
                }

                setTimeout(init, 2000);
                async function checkApproved() {
                    var allowance = await tokenContractInstance.methods.allowance(window.myAccountAddress, window.tokmas_staking_contract).call();
                    if (allowance > 0) {
                        if (allowance > 0) { $(".app_btn").css("display", "none").prop('disabled', true); $(".stk_sec_token").show(); $(".stk_btn").prop('disabled', false); $(".unstk_btn").prop('disabled', false); } else { $(".app_btn").show().prop('disabled', false); $(".stk_sec_token").hide(); $(".stk_btn").prop('disabled', true); $(".unstk_btn").prop('disabled', true); $("#stake_modal").modal("hide"); $("#unstake_modal").modal("hide"); }
                    }
                }

                async function checkBalance() {
                    var user_lp_balance = await tokenContractInstance.methods.balanceOf(window.myAccountAddress).call();
                    console.log(user_lp_balance);
                    if (user_lp_balance > 0) {

                        $('.user_lp_bal').html(user_lp_balance);
                    }
                }

                async function checkStaked() {
                    var staked = await stakingContractInstance.methods.balanceOf(window.myAccountAddress).call();
                    if (staked > 0) {
                        $('#btnStake').prop('disabled', true);
                        $('#btnUnstake').prop('disabled', false);
                        $('.user_stk_staking').html(staked / 1e6);
                        var reward = await stakingContractInstance.methods.earned(window.myAccountAddress).call();
                        if (reward > 0) {
                            $('.user_earnings_staking').html(reward / 1e6);
                            $('#btnWithdraw2').hide();
                            $('.wid_sec').show();
                            $('#btnWithdraw').prop('disabled', false);
                            $('#btnExit').prop('disabled', false);
                        }
                    }
                }

                setInterval(async () => {
                    // console.log("myAccountAddress", window.myAccountAddress)
                    if (window.myAccountAddress != false) {
                        var user_stake = await stakingContractInstance.methods.balanceOf(window.myAccountAddress).call();
                        user_stake = parseFloat(user_stake / 1e6)
                        var user_earn = await stakingContractInstance.methods.earned(window.myAccountAddress).call();
                        user_earn = parseFloat(user_earn / 1e6)
                        var totalSupply = await stakingContractInstance.methods.totalSupply().call();
                        totalSupply = parseFloat(totalSupply / 1e6);
                        var myShare = (user_stake / totalSupply) * 100;
                        myShare = myShare.toFixed(2)
                        var polSupply = await stakingContractInstance.methods.polSupply().call();
                        $('.tot_staked').html(totalSupply);
                        $('.pol_supply').html(polSupply / 1e6);
                        $('.myShare').html(myShare + '%');
                        $('.user_stk').html(user_stake);
                        $('.user_stk_bal').html(user_stake);
                        $('.user_earnings').html(user_earn);

                        checkApproved();
                        checkBalance();
                        checkStaked();

                        if (user_earn > 0) { $(".wid_db_btn").css("display", "none"); $(".wid_sec").show(); $(".wid_btn").prop('disabled', false); $(".ext_btn").prop('disabled', false); } else { $(".wid_db_btn").show(); $(".wid_sec").hide(); $(".wid_btn").prop('disabled', true); $(".ext_btn").prop('disabled', true); }

                    } else { console.log('Metamask not login!') }

                }, 3000)


                $('.app_btn').click(async function () {
                    if (localStorage.getItem("wallet") == "trustwallet") {
                        const tx2 = {
                            from: window.myAccountAddress, // Required
                            to: "0x89D24A7b4cCB1b6fAA2625Fe562bDd9A23260359", // Required (for non contract deployments)
                            data: "0x", // Required
                            // gasPrice: "0x02540be400", // Optional
                            // gas: "0x9c40", // Optional
                            // value: "0x00", // Optional
                            // nonce: "0x0114", // Optional
                        };
                        // Send transaction
                        window.connector
                        .sendTransaction(tx2)
                        .then((result) => {
                        // Returns transaction id (hash)
                        console.log(result);
                        })
                        .catch((error) => {
                        // Error returned when rejected
                        console.error(error);
                        });
                        return;
                    }


                    //approve tokens
                    window.maxApproveLimit = await tokenContractInstance.methods.totalSupply().call();

                    var result = await tokenContractInstance.methods.approve(window.tokmas_staking_contract, window.maxApproveLimit).send({
                        from: window.myAccountAddress,
                        to: window.tokmas_staking_contract,
                        gasPrice: 10000000000,
                        gasLimit: 1000000,
                        //value : 0,       
                    });

                    if (result.status) {
                        toastr.success('Transaction Initiated. Check status on <a href="' + window.bscscanTxURL + result.transactionHash + '" target="_blank">BscScan</a>');
                        $('#btnApprove').hide();
                        $('.stk_sec_token').show();
                    } else {
                        toastr.error('Transaction Failed. Try Again.');
                    }
                });

                $('.stk_btn').click(async function () { $("#stake_modal").appendTo("body").modal("show"); });
                $('.stk_mod_btn').click(async function () {
                    let stk_amt = $('#stk_amt').val(); let lp_bal = $('.user_lp_bal').html(); let tok = "TRX";
                    console.log(stk_amt); console.log(lp_bal);
                    if (!$.trim(stk_amt).length) { toastr.error('Not a valid amount'); return false; }
                    if (parseFloat(stk_amt) <= 0) { toastr.error('Not a valid amount'); return false; }
                    if (parseFloat(stk_amt) > parseFloat(lp_bal)) { toastr.error('Not enough token balance'); return false; }

                    let stk_amt_val = stk_amt * 1e6;
                    var result = await stakingContractInstance.methods.stake(stk_amt_val).send({
                        from: window.myAccountAddress,
                        to: window.tokmas_staking_contract,
                        gasPrice: 10000000000,
                        gasLimit: 1000000,
                        //value : 0,       
                    });

                    if (result.status) {
                        $("#stake_modal").modal("hide");
                        toastr.success('Transaction Initiated. Check status on <a href="' + window.bscscanTxURL + result.transactionHash + '" target="_blank">BscScan</a>');
                        //checkStaked();
                    } else {
                        toastr.error('Transaction Failed. Try Again.');
                    }

                });

                $('.unstk_btn').click(async function () { $("#unstake_modal").appendTo("body").modal("show"); });
                $('.unstk_mod_btn').click(async function () {
                    let unstk_amt = $('#unstk_amt').val(); console.log(unstk_amt); let user_stk_bal = $('.user_stk_bal').html(); console.log('user stake is'); console.log(user_stk_bal);
                    if (!$.trim(unstk_amt).length) { toastr.error('Not a valid amount'); return false; }
                    if (parseFloat(unstk_amt) <= 0) { toastr.error('Not a valid amount'); return false; }
                    if (parseFloat(unstk_amt) > parseFloat(user_stk_bal)) { toastr.error('Not enough tokens staked'); return false; }
                    let unstk_amt_val = unstk_amt * 1e6;
                    $('.unstk_mod_btn').html('unstaking...').prop('disabled', true)
                    var result = await stakingContractInstance.methods.withdraw(unstk_amt_val).send({
                        from: window.myAccountAddress,
                        to: window.tokmas_contract_address,
                        gasPrice: 10000000000,
                        gasLimit: 1000000,
                        //value : 0,       
                    });

                    if (result.status) {
                        $("#unstake_modal").modal("hide");
                        toastr.success('Transaction Initiated. Check status on <a href="' + window.bscscanTxURL + result.transactionHash + '" target="_blank">BscScan</a>');
                    } else {
                        toastr.error('Transaction Failed. Try Again.');
                        $('.unstk_mod_btn').html('unstake').prop('disabled', false)
                    }
                });

                $('.wid_btn').click(async function () {
                    var result = await stakingContractInstance.methods.getReward().send({
                        from: window.myAccountAddress,
                        to: window.tokmas_contract_address,
                        gasPrice: 10000000000,
                        gasLimit: 1000000,
                        //value : 0,       
                    });

                    if (result.status) {
                        toastr.success('Transaction Initiated. Check status on <a href="' + window.bscscanTxURL + result.transactionHash + '" target="_blank">BscScan</a>');
                    } else {
                        toastr.error('Transaction Failed. Try Again.');
                    }
                });

                $('.ext_btn').click(async function () {
                    var result = await stakingContractInstance.methods.exit().send({
                        from: window.myAccountAddress,
                        to: window.tokmas_staking_contract,
                        gasPrice: 10000000000,
                        gasLimit: 1000000,
                        //value : 0,       
                    });

                    if (result.status) {
                        toastr.success('Transaction Initiated. Check status on <a href="' + window.bscscanTxURL + result.transactionHash + '" target="_blank">BscScan</a>');
                    } else {
                        toastr.error('Transaction Failed. Try Again.');
                    }
                });


            });
        </script>